:root {
  --white: #ffffff;
  --black: #000000;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--white);
}

img,
picture {
  display: block;
  max-width: 100%;
}